@page "/Bienvenido"

<div class="card-header bg-info">
    <h1> Bienvenido </h1>
</div>

<div class="card-body alert-heading">
    <br />
    <br />
    <br />
    <h4><i class="oi oi-check" /> Usted se a logueado con exito!</h4>
</div>
